
/*#3079D9*/
/*#49A3F2*/
/*#6BBEF2*/
/*#8DD5F2*/
/*#736834*/

/*Home Page*/

html{
    background-image: url("/parks/assets/img/aaker-_LvWJqlORuQ-unsplash\ \(1\).webp"); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}


header.primary{
    background-image: url("/parks/assets/img/pinnacle\ banner-01.png");
    background-size: cover;
    font-size: 30px;
    text-align: center;
    color: #007F60;
    padding-top: 50px;
    padding-bottom: 95px;
    margin-top: 0px;

}

header h1{
background-color: aliceblue;
border-radius: 10px;
margin-right: 100px;
margin-left: 100px;
opacity: 0.8;

}
     

nav li{
    position: relative;
    display: inline;
    padding: 100px 15px;
}

nav a{
    color: aliceblue;
    text-decoration: none;
    border-radius: 50px;
    background: #73AD21;
    padding: 20px;
    width: 80px;
    height: 10px;
  }



div.images{
padding-top: 60px;
display: grid;
grid-template-columns: 1fr 1fr 1fr auto;
clear: both;
padding-left: 80px;
}

div#content{
    display: grid;
    grid-template-columns: auto;
    font-size: 35px;
    text-align: center;
padding-top: 15px;
padding-left: 100px;
padding-right: 100px;
padding-bottom: 100px ;
}

main {
    background-color:#FDFBEE ;
    width: 80vw;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    margin: 40px auto 40px auto;
    border: 2px solid #000000;
    border-radius: 4px;
}

aside#additional{
text-align: center;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

footer#colophon{
    font-size: 25px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 1px;
    background-color: #007F60;
    padding-left: 25px;
}

div#wufoo-m1nz3qu80h3omp3{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

/*Trails*/

.container {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 10px;
    padding-top: 60px;
   padding-bottom: 60px;
   padding-left:50px;
   padding-right:50px;
  }
  


/*Activities*/









@media (max-width: 575.98px) {
 
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {

  }
  

  @media (min-width: 768px) and (max-width: 991.98px) {
  }
  

  @media (min-width: 992px) and (max-width: 1199.98px) {

  }
  

  @media (min-width: 1200px) {

  }